apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-mtal
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-mtal
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-mtal
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-mtal
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-mtal
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-dtvx-tenant/nodejs-users/simple-nodejs-app-mtal@sha256:ea7a3f3bad2f216308343bfc49ca92629c460ebdf0c195cf553d8c2e8078cf6b
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
