apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: simple-nodejs-app-mtal
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-dtvx-tenant/nodejs-users/simple-nodejs-app-mtal@sha256:ea7a3f3bad2f216308343bfc49ca92629c460ebdf0c195cf553d8c2e8078cf6b
        name: my-nodejs
        resources: {}
status: {}
